div.error {
    color: #d94a38;
    display: inline-block;
}

div.error2 {
  color: #d94a38;
}

.dropdown-menu-cuscom{
  min-width: 300px;
  padding: 2px 0px !important;
}

.btn-group-custom{
  text-align: center;
  padding:0 2px;
  white-space: nowrap;
}

.control-label{
    font-weight: 500;
}

.modal-custom{
  overflow-y: auto;
}

.label-custom{
    margin-top: 9px;
}

#frm-option-consumer {
    margin-top: 35px;
}

#btnAddPhoneCustomer, #btnAddPhoneConsumer {
    margin-top: 26px;
}

.bg-maihan {
    background-image: linear-gradient(to right, #4B8E3F, #89C33F);
    border-color: #4CAF50;
    color: #fff;
}

.bg-maihan-red {
  background-color: #B2212F;
  border-color: #B2212F;
  color: #fff;
}

.bg-maihan-inverse {
    background-image: linear-gradient(to right,#89C33F, #4B8E3F);
    color: #fff;
}

.btn-save-maihan {
    color: #fff;
    border-color: #000;
    background-color: #000; 
}

.bg-dark {
    background-color: #29363d;
    border-color: #29363d;
    color: #fff;
}

.bg-login-maihan {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.bg-excel {
  background-color: #01723A;
  border-color: #01723A;
  color: #fff;
}

.text-maihan,
.text-maihan:hover,
.text-maihan:focus {
    color: #89C33F !important;
}

.text-maihan-heavy,
.text-maihan-heavy:hover,
.text-maihan-heavy:focus {
    color: #4B8E3F !important;
}

.nav-tabs.nav-tabs-bottom-maihan > li {
    margin-bottom: 0;
  }
  .nav-tabs.nav-tabs-bottom-maihan > li > a {
    border-width: 0;
    margin-bottom: -1px;
  }
  .nav-tabs.nav-tabs-bottom-maihan > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
  }
  .nav-tabs.nav-tabs-bottom-maihan > li.active > a:after {
    background-image: linear-gradient(to right, #4B8E3F, #89C33F);
  }
  .nav-tabs.nav-tabs-bottom-maihan > li.active > a,
  .nav-tabs.nav-tabs-bottom-maihan > li.active > a:hover,
  .nav-tabs.nav-tabs-bottom-maihan > li.active > a:focus {
    background-color: transparent;
    border-width: 0;
  }
  .nav-tabs.nav-tabs-bottom-maihan.bottom-divided {
    border-bottom-color: transparent;
  }

  .equal-col-parent{
    display: table;
  }

  .equal-col{
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .loading-icon{
    font-size: 50px;
    color: #4B8E3F;
  }

  @media (min-width: 769px) {
    .nav-tabs.nav-tabs-highlight-maihan > li > a,
    .nav-tabs.nav-tabs-highlight-maihan > li > a:hover,
    .nav-tabs.nav-tabs-highlight-maihan > li > a:focus {
      border-top-width: 2px;
    }
    .nav-tabs.nav-tabs-highlight-maihan > li.active > a,
    .nav-tabs.nav-tabs-highlight-maihan > li.active > a:hover,
    .nav-tabs.nav-tabs-highlight-maihan > li.active > a:focus {
      border-top-color: #4B8E3F;
    }
  }

@media only screen and (min-width: 800px) {
    .narbar-ul-custom{
        position: relative !important; 
    }
    .narbar-li-custom{
        position: absolute !important; top: 50%; transform: translate(-100%, -50%);
    }
}

#scrollToTop {
    bottom: 55px;
    display: none;
    position: fixed;
    right: 5px;
    width: 55px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    a{
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 5px;
        background-color: #e1690d;
        @include border-radius(50%);
        position: relative;
        opacity: 0.6;
        transition: all 0.5s ease-out 0s;
        &:after{
            font-family: 'Glyphicons Halflings';
            content: "\e113";
            display: block;
            color: #ffffff;
            position: absolute;
            top: 14px;
            left: 19px;
            transition: all 0.5s ease-out 0s;
        }
    }
    @include respond-to(767)
    {
        bottom: 112px;
        a{
            width: 40px;
            height: 40px;
            &:after{
                left: 14px;
                top: 10px;
            }
        }
    }
    &:hover{
        color: $wht;
        a{
            background-color: $orange;
            &:after{
                color: $wht;
            }
        }
    }

}

#scrollToTop {
    bottom: 55px;
    display: none;
    position: fixed;
    right: 5px;
    width: 55px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    /* Landscape phones and down */ 
}

#scrollToTop a {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 5px;
    background-image: linear-gradient(to right, #4B8E3F, #89C33F);
    border-color: #4CAF50;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    opacity: 0.6;
    transition: all 0.5s ease-out 0s; 
}

#scrollToTop a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    display: block;
    color: #ffffff;
    position: absolute;
    top: 14px;
    left: 19px;
    transition: all 0.5s ease-out 0s; 
}

.white-space-break-spaces{
  white-space: break-spaces;
}